.account-container {
    margin-top: 7rem;
}

.accountType-icon {
    font-size: 1.5rem;
    color: #8a2be2;
}

.accountType-value {
    font-size: 1.2rem;
}

.accountNumber-icon {
    font-size: 1.5rem;
    color: #005a8d;
}

.accountNumber-value {
    font-size: 1.2rem;
    
}

.accountBalance-label {
    font-size: 1.7rem;
    color: #3d3d3d;
    font-style: italic;
    
}

.accountBalance-value {
    font-size: 2.5rem;
    font-weight: 500;
}